<div class="footer h-auto mt-5 p-4">
    <div class="container">
        <div class="row g-3 text-white">
            <div class="col-lg-4">
                <div class="location text-center">
                    <h3>LOCATION</h3>
                    <p class="lead">2154, Lorem ipsum dolor sit.</p>
                    <p class="lead">Lorem, ipsum dolor.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="social text-center">
                    <h3>AROUND THE WEB</h3>
                    <i class="fa-brands border border-white border-2 rounded-5 p-1 text-white fs-4 fa-facebook"></i>
                    <i class="fa-brands border border-white border-2 rounded-5 p-1 text-white ms-2 fs-4 fa-twitter"></i>
                    <i class="fa-brands border border-white border-2 rounded-5 p-1 text-white ms-2 fs-4 fa-linkedin"></i>
                    <i class="fa-brands border border-white border-2 rounded-5 p-1 text-white ms-2 fs-4 fa-github"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, commodi!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-last p-1 text-center">
        <p>Copyright © Hossam Abo Alhaggag</p>
</div>