<div id="about" class="text-center max-height">
    <div class="container">
        <div class="row mb-4 d-flex justify-content-center align-content-center">
            <div class="col-lg-12">
                <h2 class="text-white text-uppercase">ABOUT COMPONENT</h2>
                <span class="star-line text-white"><i class="fa-solid fa-star"></i></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="lead text-white text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, repellat quasi aliquid velit vel
                    cumque iure reiciendis, non ipsum atque eaque quisquam, molestias aperiam ad culpa necessitatibus
                    odio corporis aut?</p>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, repellat quasi aliquid velit vel
                    cumque iure reiciendis, non ipsum atque eaque quisquam, molestias aperiam ad culpa necessitatibus
                    odio corporis aut?</p>
            </div>
        </div>
    </div>
</div>