.star-line{
    position: relative;
}
.star-line:before{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background: #000;
    left: 30px;
    top: 50%;
    position: absolute;
}
.star-line:after{
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background: #000;
    right: 30px;
    top: 50%;
    position: absolute;
}